<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration form</title>
    <style>
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        input {
            width: 50%;
        }
        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
<h1>HTML Form</h1>
<form action="">
    Vārds:<input type="text">
    Uzvārds:<input type="text">
    Email:<input type="email">
    Phone:<input type="tel">
    <input type="submit" value="Submit">
</form>
</body>
</html>